body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee !important;
}

body,html {
  height: 100%;
}

.list {
  max-width: 600px;
  margin: 0 auto;
}

#root {
  margin-top: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label,
textarea {
  display: block;
}

form label {
  margin-bottom: 15px;
}

form button {
  margin-top: 15px;
}

.wrap {
  margin-top: 40px;
}
